.ant-menu-title-content .app-logo{
  width: 37px;
}
.ant-menu-dark.ant-menu-horizontal .ant-menu-item:first-child {
  color: #fff;
  font-size: 16px;
  pointer-events: none;
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

p {
  font-size: 18px;
  line-height: 24px;
}

.subtitle, p {
  padding: 0 30px;
}

.ant-layout-header {
  position: sticky;
  top: 0;
}
.app-logo {
  animation: spin 5s linear 0s infinite;
}
.main-title {
  font-size: 60px;
  line-height: 65px;
  font-weight: 700;
  text-align: center;
}
.title {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
}
.subtitle{
  font-size: 25px;
  line-height: 35px;
  font-weight: 700;
  margin-bottom: 15px;
}
.code-block {
  background-color: #282c34;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
}
.code-block pre {
  margin: 0;
}
